# MongoDB
MONGO_URI=mongodb+srv://meesalasathvika2005_db_user:FxISBrdRbqYoDQO0@cluster0.eodgy98.mongodb.net/?appName=Cluster0

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production

# Server
PORT=5000
NODE_ENV=development

# Client
VITE_API_URL=http://localhost:5000
VITE_SOCKET_URL=http://localhost:5000
